
a {
  transition-duration:0.5s;
  -moz-transition-duration:0.5s;
  -o-transition-duration:0.5s;
  -webkit-transition-duration:0.5s;
  -ms-transition-duration:0.5s;
  text-decoration:none;
  color:#EEB066;
}
a:hover, a:focus ,.selected{
  text-decoration:none;
  outline:none;
  color:#EEB066;
}
ul, ol {
  margin:0 auto 3px;
}
ul li, ol li {
  margin: 0 auto 10px;
}
ul.list_style_none, ol.list_style_none {
  list-style:none;
}
ul.list-with-icon {
  padding-left:10px;
  margin-bottom:30px;
}
ul.list-with-icon li {
  line-height: 20px;
  margin-bottom: 15px;
  padding-left: 23px;
  position: relative;
  list-style:none;
}
ul.list-with-icon li i {
  left: 0;
  position: absolute;
  top: 4px;
}


#header {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  top: 0;
  transition-duration:0.3s;
  -moz-transition-duration:0.3s;
  -o-transition-duration:0.3s;
  -webkit-transition-duration:0.3s;
  -ms-transition-duration:0.3s;
  z-index: 22;
}
#header .logo {
  margin:25px 0;
  transition-duration:0.3s;
  -moz-transition-duration:0.3s;
  -o-transition-duration:0.3s;
  -webkit-transition-duration:0.3s;
  -ms-transition-duration:0.3s;
}
#navigation {
  padding:0px;
}
.navbar.navbar-default {
  background:none;
  border-radius:0px;
  border:0px;
  margin:0 auto;
}
.navbar.navbar-default .nav.navbar-nav {
  float:right;
}
.navbar.navbar-default .nav.navbar-nav li {
  margin:0;
}
.navbar.navbar-default .nav.navbar-nav > li > a {
  color: #111111;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 30px 16px;
  text-transform: uppercase;
}
.navbar.navbar-default .nav.navbar-nav li.open .dropdown-menu li {
  margin:0 auto;
  padding:3px 20px;
  border-bottom:rgba(255, 255, 255, 0.1) solid 1px;
}
.navbar.navbar-default .nav.navbar-nav li.open .dropdown-menu a {
  color:#fff;
  display:block;
  font-size: 16px;
  padding: 10px 0px;
}
.navbar.navbar-default .nav.navbar-nav li a:hover,
.navbar.navbar-default .nav.navbar-nav li a:focus,
.navbar.navbar-default .nav.navbar-nav li.active a,
.navbar.navbar-default .nav.navbar-nav li.active a:focus,
.navbar.navbar-default .nav.navbar-nav li.open a,
.navbar.navbar-default .nav.navbar-nav li.dropdown.open > a,
.navbar.navbar-default .nav.navbar-nav li.open a:hover,
.navbar.navbar-default .nav.navbar-nav li.open a:focus {
  color:#EEB066;
  background:none;
}
.navbar.navbar-default .nav.navbar-nav li.open .dropdown-toggle,
.navbar.navbar-default .nav.navbar-nav li.open .dropdown-menu a:hover,
.navbar.navbar-default .nav.navbar-nav li.open .dropdown-menu a:focus {
  background:none;
  color:#fff;
}
.navbar.navbar-default .nav.navbar-nav .dropdown-menu {
  background:#EEB066;
  box-shadow:none;
  border:0px;
  border-radius:0px;
  padding:0px;
}
.follow_us {
  float:right;
  margin-left:25px;
}
.follow_us ul {
  padding:0px;
  margin:0px;
}
.follow_us ul li {
  display: inline-block;
  list-style: outside none none;
  margin: 24px 0 23px 10px;
}
.follow_us ul li a {
  color:#000;
  font-size:26px;
}
.follow_us ul li a:hover {
  color:#EEB066;
}

@media (min-width:992px) and (max-width:1200px) {
  .navbar.navbar-default .nav.navbar-nav > li > a {
    font-size: 15px;
    padding: 32px 12px;
  }

  .nav-tabs > li a {
    font-size: 18px;
    padding: 14px 16px;
  }

}
@media (max-width:767px) {
  .vc_row, .vc_col {
    display: block;
  }

  .padding_right, .padding_left{
    padding: 0;
  }
  #navigation {
    clear: both;
    float: none;
    padding: 0;
    max-height:340px;
    overflow-y:auto;
  }
  .navbar.navbar-default .nav.navbar-nav {
    float: none;
    margin: 0 auto;
  }
  .navbar.navbar-default .nav.navbar-nav > li > a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 13px 16px;
    display:block;
    font-size:15px;
  }
  .navbar-toggle {
    border-radius: 0;
    margin-right: 0;
    margin-top: 21px;
    padding: 13px 10px;
  }
  .navbar-toggle .icon-bar {
    height: 3px;
    width: 25px;
  }
  header #navigation_bar .navbar-header {
    margin:0 auto;
  }
  .logo {
    float:left;
  }
  .follow_us {
    display:none;
  }

  .nav-tabs > li a {
    font-size: 15px;
    margin-bottom: 5px;
    margin-right: 2px;
    padding: 13px 17px;
  }
}
.arrow-top{
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 22px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #FFFFFF;
  cursor: pointer;
  z-index: 249;
  text-align: center;
  display: none;
  background-color: #ECA654;
}
