<div class="paging">

    <ul class="nav">
      <li (click)="OpacityPrevious ? null :Parent.closeLoading(400);Previous()" [ngClass]="{disable:OpacityPrevious}" >
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        &nbsp;<span>Previous rooms</span> </li>
      <li (click)="OpacityNext ? null:Parent.closeLoading(400);Next()"  [ngClass]="{disable:OpacityNext}" >
        <span>Next rooms</span> &nbsp;  <i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
    </ul>

</div>

<ul class="salles">
  <li *ngFor="let room of Rooms;let i = index" class="title">{{room?.roomName}}</li>
</ul>
