input[type="checkbox"]{
  border: 0;
  width: auto;
}

[data-color="term-170"] {
  color: #483D8B;
}

ul{
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
  display: inline-block;
}
app-rooms{
  display: block;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 21px;
}
app-rooms:after{
  content: '';
  top: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  height: 28px;
  margin-top: 3px;
  background: url(../../assets/imgs/shadow-1.png);
  background-size: 100% 100%;
  opacity: 0.2;
}

.salles{
  isplay: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 20px;
}
.title{
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  position: relative;
  padding: 10px 0;
  list-style: none;
  background: #DD9933;
  color: #fff;
  margin-right: 10px;
  font-size: 0.9em;
  text-align: center;
}
.title:after{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -16px;
  border-style: solid;
  border-width: 10px 16px 0 16px;
  border-color: #DD9933 transparent transparent transparent;
}
.paging{
  display: flex;
  justify-content: center;
  padding: 4px 2px 5px;
}
.paging .nav{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2px 10px 15px
}
.paging .nav{
  text-align: center;
}
.paging .nav li{
  display: flex;
  flex: 1;
  align-items: center;
}
.paging .nav li:nth-child(1){
  justify-content: flex-start;
}
.paging .nav li:nth-child(2){
  justify-content: flex-end;
}
.paging .nav li i{
  font-size: 4em
}
.paging .nav .disable{
  opacity: .5;
}
.pagin .nav li.disable *{
  color: #211C1B;
}
.paging .nav li *{
  color: #dd9028;
  cursor: pointer;
}

